
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1498361148306'); /* IE9*/
  src: url('iconfont.eot?t=1498361148306#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1498361148306') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1498361148306') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1498361148306#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-monitor:before { content: "\e60a"; }

.icon-exhale:before { content: "\e66a"; }

.icon-incoming:before { content: "\e66b"; }

.icon-statistics:before { content: "\e671"; }

.icon-date-left:before { content: "\e600"; }

.icon-date-right:before { content: "\e601"; }

.icon-statistic:before { content: "\e672"; }

.icon-account:before { content: "\e673"; }

.icon-send:before { content: "\e674"; }

.icon-template:before { content: "\e675"; }

.icon-index:before { content: "\e676"; }

