.left{
  float: left;
}

.right{
  float: right;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.clear{
  clear: both;
}

.border{
  border: 1px solid #000;
}

.cursor{
  cursor: pointer;
}

.vertical-align-inherit{
  vertical-align: inherit;
}

.margin-left{
  margin-left: 15px !important;
}

.remove-m-rl{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.remove-p-l{
  padding-left: 0 !important;
}

.remove-p-r{
  padding-right: 0 !important;
}

.tips-toast {
  position: fixed;
  width: 400px;
  z-index: 1003;
  height: auto;
  display: none;
  background: #7fc3c4;
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  padding: 20px 0px;
  top: 5%;
  left: 50%;
  margin-left: -200px;
  border-radius: 2px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.btn-green{
  color: #fff;
}

.line-32{
  line-height: 32px;
}

.none{
  display: none !important;
}

.text-big{
  font-size: 18px;
  font-weight: 500;
}